[submodule "src/OBSRecorder"]
	path = src/OBSRecorder
	url = https://github.com/J-Andersen-UvA/OBSRecorder
[submodule "src/audioPlayerPy"]
	path = src/audioPlayerPy
	url = https://github.com/J-Andersen-UvA/audioPlayerPy.git
[submodule "src/LLFInterface-main"]
	path = src/LLFInterface-main
	url = https://github.com/J-Andersen-UvA/LLFInterface.git
