[submodule "src/OBSRecorder"]
	path = src/OBSRecorder
	url = https://github.com/J-Andersen-UvA/OBSRecorder
[submodule "audioPlayerPy"]
	path = audioPlayerPy
	url = https://github.com/J-Andersen-UvA/audioPlayerPy.git
